# ignore all experiment binaries
experiments/test

# ignore all object files
*.o

# also ignore makefile rules generation
*.d

# ignore .gdb_history
.gdb_history

# don't put databases / data in git history
*.dat
*.db

# don't keep the binary in source control either
./molt*

# don't keep any libs
lib*

molt
molttest

# don't commit binaries to the source tree
*.dll
*.so
*.exe
*.pdb
*.exp
*.lib

